@model Transparencia.Models.Estado

@{
    ViewBag.Title = "Detalles de Estado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Home")">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Estados")">Estados</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<br />

<div class="col-lg-12">
    <div class="ibox">
        <div class="ibox-title">
            <p>
                <h2>@ViewBag.Title</h2>
            </p>
        </div>        
        
        <div class="ibox-content">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Pais.NombrePais)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pais.NombrePais)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NombreEstado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombreEstado)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Orden)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Orden)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Activo)
                </dt>

                <dd>
                    <div class="i-checks">
                        @Html.DisplayFor(model => model.Activo)
                    </div>
                </dd>

            </dl>
            <br />
            <p class="text-right">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-w-m btn-secondary" })
                @Html.ActionLink("Modificar", "Edit", new { id = Model.EstadoId }, new { @class = "btn btn-w-m btn-warning" })

            </p>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section scripts {
    @Scripts.Render("~/plugins/iCheck")


    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
}