@model Transparencia.Models.UnidadAdministrativa

@{
    ViewBag.Title = "Eliminar Unidad Administrativa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Está seguro de querer eliminar esta Unidad Administrativa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Organismos.NombreOrganismo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organismos.NombreOrganismo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Siglas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Siglas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
            @Html.ActionLink("Regresar", "Index", null, new { @class="btn btn-secondary"})
        </div>
    }
</div>
