

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Gobierno del Estado de Sonora | TRANSPARENCIA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <link href="~/content/login/images/favicon.png" rel="shortcut icon" type="~/content/login/image/vnd.microsoft.icon" />

    <!-- oringal csss-->
    @*<link href="~/content/bootstrap.min.css" rel="stylesheet">*@
    @*<link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">*@
    @*<link href="~/content/animate.css" rel="stylesheet">*@
    @*<link href="~/content/style.css" rel="stylesheet">*@
    @*<link href="~/content/custom.css" rel="stylesheet" />*@
    @*<link href="~/content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />*@
    @*<link href="~/content/Licitanet.css" rel="stylesheet" />*@
    <!-- end original css-->
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="~/content/login/css/vendor.min.css" rel="stylesheet">
    <link href="~/content/login/css/app.min.css" rel="stylesheet">
    <link href="~/Content/Transparencia-custom.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    @RenderSection("styles", required: false)
    @*@Styles.Render("~/appCss")*@
   <style>
       .my-custom-scrollbar {
           position: relative;
           width: 100%;
           height: 100%;
           overflow-y: auto;
           overflow-x: hidden;
       }
   </style>
</head>
<body class="">
    <div class="cover-spin2">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div id="app" class="app auth">
        <div class="container-fluid px-0">
            <div class="row g-0 min-vh-100 min-vh-100">
                <div class="col-sm-6">

                    <div class="auth-wrapp d-flex align-items-center h-100">
                        <div class="auth-mask opacity-8 bg-primary"></div>
                        <div class="auth-bg auth-bg-scroll" style="background-image: url(../../content/Login/images/login-bg.jpg); "></div>

                        <div class="auth-content w-100 min-vh-100 d-flex flex-column">


                           

                            <div class="row">
                                <div class="col-12 col-lg-10 mx-auto">
                                    <div class="logo mt-5 mb-5 mb-md-0">
                                        <a class="" href="/" title="Gobierno del Estado de Sonora">
                                            <img src="~/content/images/LOGO-PROVEP.svg" class="auth-logo m-auto d-block w-50" alt="Gobierno del Estado de Sonora">
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="my-custom-scrollbar">
                                <div class="row my-auto justify-content-center">
                                    <div class="col-10 col-lg-8 mx-auto text-center">
                                        <h3 class="text-11 text-white mb-4 text-uppercase">Programa de Selección Aleatoria Para la Verificación Patrimonial</h3>
                                        <p class="text-4 text-white lh-base text-justify">
                                            Plataforma automatizada mediante la cual la Secretaría de la Contraloría General, atendiendo a lo previsto en la norma correspondiente, lleva a cabo la selección aleatoria de los servidores públicos del Poder Ejecutivo del Estado, que serán sujetos al proceso de verificación de sus declaraciones patrimoniales y de intereses, así como a su evolución patrimonial.
                                        </p>
                                    </div>
                                </div>

                                <div class="row my-auto justify-content-center">
                                    <div class="col-10 col-lg-8 mx-auto text-center">
                                        <p class="text-4 text-white lh-base text-justify">
                                            Este sistema fue desarrollado por personal adscrito a la Secretaría de la Contraloría General y cuenta con una función especial que permite realizar selecciones aleatorias de servidores públicos.
                                            Para realizar estas selecciones, el sistema utiliza una plantilla pre cargada con la información de los servidores públicos capturados por la Dirección General de Integridad (DGI).
                                            La selección se lleva a cabo mediante un algoritmo de 128 bits, lo que garantiza una selección de manera imparcial.
                                            Esta funcionalidad es esencial para garantizar la transparencia y la equidad en la selección, y está diseñada para cumplir los requisitos establecidos por el principio de aleatoriedad.
                                            Así, podemos estar seguros de que las selecciones se realizan de manera objetiva y justa, sin ningún tipo de sesgo o favoritismo en el proceso de selección.
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="row justify-content-center">
                                <div class="col-10 col-lg-10">
                                    <div class="auth-footer text-light-400">
                                        <div class="row">

                                            <div class="col-sm-3">
                                                <img src="/content/Login/images/logo-sonora-escudo-white.svg" />
                                            </div>

                                            <div class="col-sm-9 border-start border-light">
                                                <p class="lh-sm small text-justify mb-0">
                                                    <strong>Secretaría de la Contraloría General del Estado de Sonora.</strong> Centro de Gobierno, Edificio Hermosillo 2do. piso. Blvd. Paseo Río Sonora y Comonfort. Col. Villa de Seris. C.P. 83280,  Hermosillo, Sonora, México. Desarrollado por SCG-DGCTIC
                                                </p>
                                            </div>


                                        </div>
                                    </div>

                                </div>

                            </div>








                        </div>


                    </div>

                </div>
                <div class="col-md-6 d-flex">
                    <div class="container my-auto py-5">


                        <div class="row g-0">
                            <div class="col-10 col-lg-9 col-xl-8 mx-auto">
                                @RenderBody()




                                @*<p class="text-center text-muted mb-0">¿No tienes una cuenta? <a class="link-primary" href="#">Registrarse</a></p>*@

                            </div>
                        </div>





                        <a href="javascript:void(0);" class="btn  btn-circle btn-primary btn-phone  " title="Teléfonos de Atención" data-bs-toggle="modal" data-bs-target="#phoneModal">
                            <span class="mdi mdi-phone"></span> <span class="text"> Teléfonos de Atención</span>
                        </a>


                    </div>



                </div>
            </div>
        </div>



    </div>
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/content/login/js/vendor.min.js"></script>
    <script src="~/content/login/js/app.min.js"></script>
    <!-- ================== END BASE JS ================== -->

</body>
</html>





<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- BS JavaScript -->
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<!-- Have fun using Bootstrap JS -->

@*<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>*@

<!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
@*<script src="~/Scripts/PaginadorOrder.js"></script>*@
@*<script src="~/Scripts/global.js"></script>*@


@*@Scripts.Render("~/appJs")*@
@RenderSection("scripts", required: false)
@Scripts.Render("~/sweatalert")




@Html.Partial("Utilities/_Loader")
</body>
