<li class="@Html.IsSelected(controller: "Home")">
    <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> <span class="nav-label" data-i18n="nav.Inicio">Inicio</span> </a>
</li>

<li class="@Html.IsSelected(controller: "Estructura")">
    <a href="#"><i class="fa fa-list-ul"></i> <span class="nav-label" data-i18n="nav.organismos">Estructura</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Estructura", cssClass: "in")">
        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("IndexPlantillas", "Plantillas")">Plantillas</a></li>
    </ul>
</li>


