@model PagedList<Transparencia.Models.TipoOtraInformacion>

@{
    ViewBag.Title = "Listado de Tipo Otra Información";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FiltrosTipoOtraInfo filtros = ViewBag.Filtros != null ? ViewBag.Filtros as FiltrosTipoOtraInfo : new FiltrosTipoOtraInfo();
    string show = ((int)ViewBag.PerPage).ToString();
}


@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "listaOrganismos",
        OnBegin = "BeginClient",
        OnComplete = "CompleteClient"
    }))
{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "TipoOtraInformacion")">Tipo Otra información</a>
                </li>
                <li class="active breadcrumb-item">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
    <br />

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nombre</label>
                        <div class="input-group m-b">
                            @Html.TextBoxFor(model => filtros.TipoOtraInfoNombre, htmlAttributes: new { @class = "form-control", @placeholder = "Nombre", autocomplete = "off" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Descripción</label>
                        <div class="input-group m-b">
                            @Html.TextBoxFor(model => filtros.TipoOtraInfoDesc, htmlAttributes: new { @class = "form-control", @placeholder = "Descripción", autocomplete = "off" })
                        </div>
                    </div>
                </div>
                
               
            </div>
            <br />

            <div class="row justify-content-end">
                <div class="col-sm-4 text-right">
                    <a class="btn btn-w-m btn-secondary" href="@Url.Action("Index")">Limpiar</a>
                    <button class="btn btn-w-m btn-success" type="submit">Buscar</button>
                </div>
            </div>
            <br />
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="form-group row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @Html.Partial("_lista", Model)
                                @Html.Hidden("sOrder")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Styles {
    @Styles.Render("~/plugins/footableStyles")
}

@section Scripts {
    <script src="~/Scripts/PaginadorOrder.js"></script>
    @Scripts.Render("~/plugins/footable")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.footable').footable();
            $('#mostrar option[value="' +@show+'"]').attr("selected", "selected");
            $('.select2').select2();
        });
    </script>

}