@model Transparencia.Models.InputConfig

@{
    ViewBag.Title = "Eliminar tipo de Input Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>¿Está seguro de querer eliminar este elemento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataTypeMIId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataTypeMs.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoInputId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoInputs.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mask)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mask)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ayuda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ayuda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @if (Model.Activo)
            {
                <span class="badge badge-success BadgeStatus">Activo</span>
            }
            else
            {
                <span class="badge badge-danger BadgeStatus">Inactivo</span>
            }
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-secondary" })
    </div>
    }
</div>
